<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>SpaceShield - Ameaças</title>
    <link rel="stylesheet" href="../resources/style.css">
</head>
<body>
    <div class="app-container">
        <nav class="navbar">
            <div>
                <h1>Eventos de Segurança</h1>
                <p>Lista de tentativas de invasão e anomalias bloqueadas na frota.</p>
            </div>
            <div class="nav-links">
                <a href="index.html">Visão Geral</a>
                <a href="satellites.html">Satélites</a>
                <a href="alerts.html" class="active">Eventos de Risco</a>
            </div>
        </nav>

        <div id="container-alertas" style="display: flex; flex-direction: column; gap: 20px;">
            </div>
    </div>

    <script src="../resources/app.js"></script>

</body>
</html>
